<%= form_for(@auth_token) do |f| %>
  <% if @auth_token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auth_token.errors.count, "error") %> prohibited this auth_token from being saved:</h2>

      <ul>
      <% @auth_token.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fbId %><br />
    <%= f.text_field :fbId %>
  </div>
  <div class="field">
    <%= f.label :token %><br />
    <%= f.text_field :token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
