<h1>Listing auth_tokens</h1>

<table>
  <tr>
    <th>Fbid</th>
    <th>Token</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @auth_tokens.each do |auth_token| %>
  <tr>
    <td><%= auth_token.fbId %></td>
    <td><%= auth_token.token %></td>
    <td><%= link_to 'Show', auth_token %></td>
    <td><%= link_to 'Edit', edit_auth_token_path(auth_token) %></td>
    <td><%= link_to 'Destroy', auth_token, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Auth token', new_auth_token_path %>
