<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @crush.user %>
</p>

<p>
  <b>Crush:</b>
  <%= @crush.crush %>
</p>


<%= link_to 'Edit', edit_crush_path(@crush) %> |
<%= link_to 'Back', crushes_path %>
